:root {
  --light: #F1ECDF;
  --darker: #1F1D38;
  --dark: #282546;
  --darkLight: #312e57;
  --darkLighter: #3e3a6d;
  --primary: #1E8DA6;
  --secondary: #E1561B;
}

p {
  margin: 0;
}

.h-10 {
  height: 10%;
}

.h-90 {
  height: 90%;
}

.bgm-darker {
  background-color: var(--darker);
  color: var(--light)
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.my-card {
  background-color: var(--dark);
  height: 100%;
  border-radius: 10px;
  padding: 0.5em 1em;
  flex: 1;
}

.category-cont {
  box-shadow: 0px 4px 4px var(--darker);
  margin: 1em 0;
}

.category {
  background-color: var(--darkLighter);
  padding: 1em;
  display: flex;
  align-items: center;
}

.categorized-note {
  background-color: var(--darkLight);
  padding: 1em 3em;
}

.uncategorized-note {
  padding: 1em;
}

.text-cont {
  flex: 1;
}

.note-input {
  flex: 1;
  background-color: var(--darkLight);
  color: var(--light);
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 1em;
}